@model Overflow.Models.Login
<!DOCTYPE html>
<html>
<head>
    <title>Overflow - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/overflow.css" rel="stylesheet" />
    @try {
        if (Model.LoginFlag == true) {
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#loginErrorModal').modal('show');
    </script>
        }
    }
    catch (NullReferenceException error){
    }



</head>
<body>
    @if (Model.IsLoggedIn == true)
    {
    @Html.Partial("~/Views/Shared/authView.cshtml")
    }
    else
    {
    @Html.Partial("~/Views/Shared/unAuthView.cshtml")
    }

    <div class="container body-content">
        <!--Rendering HTML-->
        @RenderBody()
        <hr />
        <!--Footer-->
        <footer>
            <p>&copy; @DateTime.Now.Year - Senior Project Fall 2019</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
