@using Overflow.Utilities;
@{
    ViewBag.Title = "authView";
}

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--Logo-->
    <a class="navbar-brand" href="/Home/Index">

        <img src="~/Content/mockup2.png" id="navLogo" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Navbar Items-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
            <!--Home-->
            <li class="nav-item @Html.IsActive("Home", "Index")">
                @Html.ActionLink("Home", "Index", null, new { @class = "nav-link" })
            </li>
            <!--New Recipes-->
            <li class="nav-item @Html.IsActive("Home", "NewRecipes")">
                @Html.ActionLink("New Recipes", "NewRecipes", null, new { @class = "nav-link" })
            </li>
            <!--Advanced Search-->
            <li class="nav-item @Html.IsActive("Home", "advSearch")">
                @Html.ActionLink("Advanced Search", "advSearch", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item @Html.IsActive("Home", "advSearch")">
                @Html.ActionLink("My Inventory", "advSearch", null, new { @class = "nav-link" })
            </li>
            <!--Account Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Saved Recipes</a>
                    <a class="dropdown-item" href="#">My Profile</a>
                </div>
            </li>
        </ul>
    </div>
    <!--Search field-->
    <form class="form-inline">
        <input class="form-control mr-sm-2"
               type="search"
               placeholder="Search"
               aria-label="Search" />
        <button class="btn btn-outline my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</nav>
<div class="container body-content">
    <!--Rendering HTML-->
    @RenderBody()
    <hr />
    <!--Footer-->
    <footer>
        <p>&copy; @DateTime.Now.Year - Senior Project Fall 2019</p>
    </footer>
</div>
