@using Overflow.Utilities;
@{
    ViewBag.Title = "authView";
}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--Logo-->
    <a class="navbar-brand">

        <img src="~/Content/mockup2.png" id="navLogo" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Navbar Items-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
            <!--Advanced Search-->
            <li class="nav-item @Html.IsActive("Home", "advSearch")">
                @Html.ActionLink("Advanced Search", null, null, new { @class = "nav-link", @data_target = "#advSearchModal", @data_toggle = "modal" })
            </li>
            <li class="nav-item @Html.IsActive("Inventory", "Inventory")">
                @Html.ActionLink("My Inventory", "Inventory", "Inventory", null, new { @class = "nav-link" })
            </li>
            <!--Account Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Saved Recipes</a>
                    <a class="dropdown-item" href="#">My Profile</a>
                </div>
            </li>
        </ul>
        <span class="navbar-text ml-auto" style="color: #212529">
            @{string username = Session["username"].ToString(); }
            Welcome, @username!
        </span>
        <button class="btn btn-orange m-2" style="background-color: rgb(238, 75, 18)" onclick="location.href='@Url.Action("Logout", "Home")'">Log Out</button>
    </div>
    
</nav>

<!--Advanced search modal-->
@Html.Partial("~/Views/Shared/advSearchModal.cshtml")
