@model Overflow.Models.Login
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Signup", "Home"))
{
    <div class="modal fade" id="signUpModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign Up</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @try
                    {
                        if (Model.ErrorMessage.Length > 1)
                        {
                            <div class="text-center bg-warning">@Model.ErrorMessage</div>
                        }
                    }
                    catch (NullReferenceException nx)
                    {

                    }
                    <form>
                        <!--First name input-->
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            @Html.TextBoxFor(l => l.FirstName, new { @class = "form-control" })
                        </div>
                        <!--Last name input-->
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            @Html.TextBoxFor(l => l.LastName, new { @class = "form-control" })
                        </div>
                        <!--Email input-->
                        <div class="form-group">
                            <label for="email">Email</label>
                            @Html.TextBoxFor(l => l.Email, new { @class = "form-control" })
                        </div>
                        <!--Password input-->
                        <div class="form-group">
                            <label for="passwd">Password</label>
                            @Html.TextBoxFor(l => l.Pass, new { @class = "form-control" })
                        </div>
                        <!--Password verification-->
                        <div class="form-group">
                            <label for="passwdVerify">Verify Password</label>
                            @Html.TextBoxFor(l => l.SecondPass, new { @class = "form-control" })
                        </div>
                        <!--Submit button-->
                        <div class="text-right">
                            <button type="submit" class="btn" style="background-color: rgb(238, 75, 18)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
