@model Overflow.Models.Login
@using Overflow.Utilities;
@{
    ViewBag.Title = "unAuthView";
}

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--Logo-->
    <a class="navbar-brand" href="/Home/Index">

        <img src="~/Content/mockup2.png" id="navLogo" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Navbar Items-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
            <!--Home-->
            <li class="nav-item @Html.IsActive("Home", "Index")">
                @Html.ActionLink("Home", "Index", null, new { @class = "nav-link" })
            </li>
            <!--Advanced Search-->
            <li class="nav-item @Html.IsActive("Home", "advSearch")">
                @Html.ActionLink("Advanced Search", null, null, new { @class = "nav-link", @data_target = "#advSearchModal", @data_toggle = "modal" })
            </li>
        </ul>
    </div>
    <!--Search field-->
    <form class="form-inline">
        <table>
            <tr>
                <td>
                    <input class="form-control mr-sm-2"
                           type="search"
                           placeholder="Search"
                           aria-label="Search" />
                </td>
                <td>
                    <button class="btn btn-outline my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <div id="buttons">
        <!--Sign up button-->
        <button class="btn btn-orange m-2" style="background-color: rgb(238, 75, 18)" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
        <!--Log in button-->
        <button class="btn btn-orange m-2" style="background-color: rgb(238, 75, 18)" data-toggle="modal" data-target="#logInModal">Log In</button>
    </div>
</nav>

@if (Model.LoginFlag == true)
{
    <script>
            $(window).on('load', function () {
                $('#loginModal').modal('show');
            })
    </script>
}
<!--Sign up modal-->
@Html.Partial("~/Views/Shared/loginModal.cshtml")
<!--Log in modal-->
@Html.Partial("~/Views/Shared/signupModal.cshtml")
<!--Advanced search modal-->
@Html.Partial("~/Views/Shared/advSearchModal.cshtml")

